@model KnockoutPrastice.Models.StudentModel
<div class="row">
    <div class=" card-body col-md-8 offset-2 ">
        <h3>Add/Edit Student</h3>
        <form>
            <div data-bind="with:newStudent">
            <div class="form-group">
                    <label  class="label-control">Name</label>
                    <input data-bind="value:name" class="form-control" />
            </div>
            <div class="form-group">
                    <label  class="label-control">Address</label>
                    <input data-bind="value:address" class="form-control" />
            </div>
            <div class="form-group">
                <label  class="label-control">Grade</label>
                    <input data-bind="value:grade" class="form-control" />
            </div>
                <div class="form-check-inline">
                    <label class="label-control">Gender</label>
                    <input type="radio" name="gender" data-bind="checked:gender" value="Male" class="form-check-input"/>
                   <label class="form-check-label">Male</label>
                    <input type="radio" name="gender" data-bind="checked:gender" value="Female" class="form-check-input" />
                    <label class="form-check-label">Female</label>
                </div>
                <div class="form-group">
                    <label class="label-control">School Branch</label>
                    <select data-bind="options:$root.locations , value:schoolBranch" class="form-control"></select>
                </div>
            <div class="text-center mt-3">
               <button data-bind="click:$root.addStudent">AddEdit</button>
                    <button data-bind="click:$root.resetForm">Reset</button>
            </div>
            </div>
        </form>
    </div>
    
</div>

<hr/>
<div class="row">
    <div class="col-md-6 offset-3">
        <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Grade</th>
                        <th>Location</th>
                        <th>Gender</th>
                        <th>Action</th>
                    </tr>
                </thead>
            <tbody data-bind="foreach:AllStudents">
                <tr>
                    <td data-bind="text:id"></td>
                    <td data-bind="text:name"></td>
                    <td data-bind="text:address"></td>
                    <td data-bind="text:grade"></td>
                    <td data-bind="text:schoolBranch"></td>
                    <td data-bind="text:gender"></td>
                    <td >
                        <button data-bind="click:$parent.editStudent" class="btn btn-sm btn-dark"><i class="fa fa-edit"></i> Edit</button>
                        <button data-bind="click:$parent.deleteStudent" class="btn btn-sm btn-danger"><i class="fa fa-edit"></i> Delete</button>

                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
<hr/>


@section Scripts{
    <script src="~/knockout/knockout.js"></script>
    <script src="~/knockout/studentcontroller.js"></script>
    <script src="~/knockout/studentmodel.js"></script>

    <script>
        ko.applyBindings(new StudentController());
    </script>
}